/**
  font-family: 'Open Sans', sans-serif; //300,400,600,700,800
**/

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  overflow: hidden;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: 1em;
}
.vh_100 {
  background-color: rgba(21,32,78, 0.75);
  height: 100vh;
  overflow: hidden
}
header {
  position: relative;
  top: 20px;
}
.navbar-header {
  width: 100%;
}
.navbar-brand {
  color: rgba(255, 255, 255, 1);
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
@media screen and (min-width: 480px) {
  .navbar-brand {
    font-size: 25px;
  }
}
.navbar-brand a {
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
}
.navbar-brand a:hover {
  color: rgba(255, 255, 255, 0.75);
}
.main {
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
@media screen and (min-width: 480px) {
  .main {
    margin-top: 100px;
    width: 60%;
  }
}
.main__title {
  color: rgba(255, 255, 255, 1);
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px;
}
@media screen and (min-width: 480px) {
  .main__title {
    font-size: 32px;
  }
}
@media screen and (min-height: 770px) {
  .main__title {
    margin-bottom: 40px;
  }
}
@media screen and (min-height: 890px) {
  .main__title {
    margin-bottom: 50px;
  }
}
.main__description {
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-weight: 300;
}
@media screen and (min-width: 480px) {
  .main__description {
    font-size: 18px;
  }
}
@media screen and (min-height: 770px) {
  .main__description {
    margin-bottom: 40px;
  }
}
@media screen and (min-height: 890px) {
  .main__description {
    margin-bottom: 60px;
  }
}
.main__phone {
  background-image: url(../images/design/misc/phone2.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  bottom: -50px;
  height: 400px;
  margin: 0 auto;
  position: relative;
  width: 300px;
}
@media screen and (min-height: 770px) {
  .main__phone {
    left: calc(50% - 150px);
    overflow: hidden;
    position: absolute;
  }
}

.main__phone__finger {
  background-image: url(../images/design/misc/finger.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  bottom: -250px;
  height: 500px;
  left: 50%;
  margin-left: -200px;
  position: absolute;
  width: 400px;
}
.btn {
  margin-bottom: 10px;
}
.btn--ios {
  background-color: rgba(255, 255, 255, 0.75);
  color: black;
}
.btn--android {
  background-color: black;
  color: rgba(255, 255, 255, 0.75);
}
.btn--android:hover {
  color: rgba(255, 255, 255, 0.75);
}
.hashtag {
  color: white;
  float: right;
  font-size: 16px;
  margin-top: 15px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .hashtag {
    font-size: 24px;
    margin-top: 10px;
  }
}